* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    margin-top: 44px;
    margin-left: 76px;
}

a {
    margin-right: 23px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
}

.button-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #665AE1;
    border-radius: 20.5px;
    filter: drop-shadow(0px 4px 4px silver);
    padding: 6px 21px;
    border: none;
    cursor: pointer;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    width: 513px;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    width: 448px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    background: #ADFF00;
    border-radius: 30.5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
    border: none;
    cursor: pointer;
    padding: 15px 46px 23px;
}

img {
    display: inline-block;
    margin: 144px 86px 0 125px;
}

section {
    display: inline-block;
}

@media screen and (max-width: 900px) {

    header {
        display: none;
    }

    p {
        display: none;
    }

    h1 {
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        margin-top: 24px;
        width: auto;
    }

    h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 25px;
        width: auto;
    }

    img {
        display: block;
        margin: auto;
        width: 380px;
        margin-top: 147px;
    }

    section {
        display: block;
        text-align: center;
        margin-top: 50px;
    }
}